<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="event-item">
				<%= event.title %>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
			        <i class="fa fa-play"></i>
			        <span class="time" data-datetime="<%= event['start_at'] %>"></span>
			        <i class="fa fa-stop"></i>
			        <span class="time" data-datetime="<%= event['end_at'] %>"></span>
			        </a>
			</li>
		<% }) %>
	</ul>
</div>
