<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
                        <% program_class = event['dangers_count']>0 ? 'danger' : event['warnings_count']>0 ? 'warning' : 'success'  %>
			<li class="alert alert-<%= program_class %>">
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="alert-link">
                                <i class="fa fa-th"></i>
				<%= event.title %>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
			        <i class="fa fa-play"></i>
			        <span class="time" data-datetime="<%= event['start_at'] %>"></span>
			        <i class="fa fa-stop"></i>
			        <span class="time" data-datetime="<%= event['end_at'] %>"></span>
			        </a>
			</li>
		<% }) %>
	</ul>
</div>
