<table class="table table-striped">
  <thead>
    <tr>
      <th><i class="fa fa-calendar"></i> Échéance</th>
      <th><i class="fa icon-sun79"></i> Lever</th>
      <th><i class="fa icon-camera69"></i> Coucher</th>
      <th><i class="fa fa-area-chart"></i> Variation</th>
    </tr>
  </thead>
  <tbody>
    <% rapport.ephemerides.each do |ephemeride| %>
      <tr>
        <th><%= ephemeride.echeance.try(:downcase).try(:capitalize) %></th>
        <td><%= ephemeride.lever %></td>
        <td><%= ephemeride.coucher %></td>
        <td><%= ephemeride.variation %>min</td>
      </tr>
    <% end %>
  </tbody>
</table>
