<% content_for :title do %>
  <i class="fa icon-cloudy1"></i> 
  Rapports Météo
<% end %>
<% content_for :subtitle, "Vue d'ensemble" %>
<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="col-md-10">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>"><i class="fa fa-home"></i> <%= t :home %></a></li>
        <li class="active"><i class="fa icon-cloudy1"></i> Rapports Météo</li>
      </ol>
    </div>
    <div class="col-md-2">
      <a href="<%= rapports_path refresh: true %>" class="btn btn-success btn-breadcrumb col-md-12 pull-right">
        <i class="fa fa-refresh"></i>
        Actualiser
      </a>
    </div>
  </div>
<% end %>

<table id="rapports" class="table table-striped" data-source="<%= rapports_url(format: "json") %>">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Infos</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script type="text/javascript">
(function($){
  $('#rapports').dataTable({
    sPaginationType: "full_numbers",
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#rapports').data('source'),
    fnDrawCallback: function(settings){
      $(document).trigger('page:change');
    },
    order: [[ 2, "desc" ]],
    aoColumns: [
      null,
      null,
      null
    ],
    aoColumnDefs: [
      {
        mRender: function (data, type, row) {
          return $('<div>')
            .append($('<i>').addClass('fa fa-code'))
            .append(' ')
            .append($('<a>').prop({ href:  "/rapports/"+row[3] }).text(data))
            .html();
        },
        aTargets: [ 0 ]
      },
      { bVisible: false,  aTargets: [ 3 ] },
      { 
        mRender: function (data, type, row) {
          var datetime = new Date(data);
          return moment(datetime).fromNow();
        },
        aTargets: [2]
      }
    ]
  });
})(jQuery);
</script>
