<% content_for :title do %>
  <i class="fa icon-cloudy1"></i> 
  Rapports Météo
<% end %>
<% content_for :subtitle, "Vue d'ensemble" %>
<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="col-md-10">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>"><i class="fa fa-home"></i> <%= t :home %></a></li>
        <li class="active"><i class="fa icon-cloudy1"></i> Rapports Météo</li>
      </ol>
    </div>
    <div class="col-md-2">
      <a href="<%= rapports_path refresh: true %>" class="btn btn-success btn-breadcrumb col-md-12 pull-right">
        <i class="fa fa-refresh"></i>
        Actualiser
      </a>
    </div>
  </div>
<% end %>

<table id="rapports" class="table" data-source="<%= rapports_url(format: "json") %>">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Infos</th>
      <th>Modified</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script type="text/javascript">
(function($){
  $('#rapports').dataTable({
    sPaginationType: "full_numbers",
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#rapports').data('source'),
    fnRowCallback: function( $row, row, i ) {
      $($row).addClass(row[4] ? 'success' : ''); // row[0] => danger/success/...
    },
    fnDrawCallback: function(settings){
      $(document).trigger('page:change');
    },
    order: [[ 2, "desc" ]],
    aoColumns: [
      null,
      null,
      null,
      null
    ],
    aoColumnDefs: [
      {
        mRender: function (data, type, row) {
          return $('<div>')
            .append($('<i>').addClass('fa fa-code'))
            .append(' ')
            .append($('<a>').prop({ href:  "/rapports/"+row[3] }).text(data))
            .append(' ')
            .append(row[4] ? $('<small>').addClass('label label-success').text('current') : '')
            .html();
        },
        aTargets: [ 0 ]
      },
      { 
        mRender: function (data, type, row) {
          var $div = $('<div>');
          var icon = '';
          $.each(row[1], function(key, value){
            if(value){
              switch(key){
                case 'paris': icon = 'fa icon-eiffel4'; break;
                case 'france': icon = 'fa icon-france'; break;
                case 'monde' : icon = 'fa fa-globe'; break;
                case 'plages': icon = 'fa icon-palm12'; break;
                case 'neiges': icon = 'fa icon-pine7'; break;
                case 'ephemerides': icon = 'fa icon-sunrise4'; break;
                default: icon = '';
              }
              $div.append($('<i>').addClass(icon));
              $div.append(' ');
            }
          });
          console.log($div.html());
          return $div.html() || "--";
        },
        aTargets: [ 1 ]
      },
      { 
        mRender: function (data, type, row) {
          var datetime = new Date(data);
          return moment(datetime).fromNow();
        },
        aTargets: [2]
      },
      { 
        mRender: function (data, type, row) {
            return $('<div>').append($('<div>').addClass('pull-right')
            .append(
                $('<a>')
                .attr({ href: '/rapports/'+row[3]+'/edit' })
                .addClass('btn btn-primary btn-xs')
                .append($('<i>').addClass('fa fa-edit'))
                .append(' Edit')
            )
            .append(' ')
            .append(
                $('<a>')
                .attr({ 
                    'href': '/rapports/'+row[3],
                    'data-method': 'delete',
                    'data-confirm': 'Are you sure ?'
                })
                .addClass('btn btn-danger btn-xs')
                .append($('<i>').addClass('fa fa-edit'))
                .append(' Delete')
            )).html();
        },
        aTargets: [3]
      }
    ]
  });
})(jQuery);
</script>
